/* Reset default margin and padding for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8; /* Set a light background color */
  font-family: 'Arial', sans-serif;
}

/* Header Styles */
.fonthead {
  font-family: 'Arial', sans-serif;
  padding-top: 10px;
  color: #333; /* Change the text color */
}

/* Navigation Menu Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/* Container for Dashboard Widgets */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* Widget Styles */
.widget {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff; /* Set a white background for widgets */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.widget-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Footer Styles */
footer {
  text-align: center;
  background-color: #333;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Form Styles */
.form-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #04AA6D;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

input[type="submit"]:hover {
  background-color: #038457;
}

/* Button Styles */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
